body{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    
    padding: 10px;
    


}

button {
    font-size: 1.3rem;
    background-color: rgb(194, 157, 228);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    padding: 15px;
    margin-inline: 2px;
    cursor: pointer;
    transition: 0.4s;
    /* color: white; */
}

button:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

#scroll-top{
    font-size: 2.5rem;
    margin-right: 50px;
    cursor: pointer;
    transition: 500ms;
}

#scroll-top:hover{
    transform: scale(1.3);
}
